body {
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
}

#logotipo {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    width: 400px;
    margin: 0.1px auto 0.1px auto;
}

#inicio_sesion {
    display: flex;
}

nav {
    margin-left: 50px;
    margin-right: 90px;
    display: flex;
    height: 20px;
    margin: 10px;
    align-items: center;
}

#navegacion {
    display: flex;
    width: 100%;
}

.el_navegacion {
    display: flex;
    border: solid 1px;
    justify-content: center;
}

.enl_nav {
    display: flex;
    text-decoration: none;
    padding: 10px 30px;
    justify-content: center;
}

h1,
p,
a {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 45px;
    color: rgb(92, 158, 79);
}

p {
    font-size: 16px;
    color: black;
}

label {
    font-size: 15px;
}

/* FOOTER */
footer {
    padding: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(79, 205, 247);
}

#oficinas {
    border: solid 5px white;
}

td {
    justify-content: center;
    text-align: center;
    padding: 0px 10px;
}

/* PAGINA PRINCIPAL */
#titulo_entrada {
    min-width: 150px;
}

#entrada {
    display: flex;
    margin: auto auto 0px 30px;
    flex-wrap: wrap
}

#texto_entrada {
    padding-right: 50px;
    padding-left: 30px;
    padding-top: 10px;
    min-width: 250px;
    max-width: 400px;
    height: 100%;
}

#imagen_entrada {
    margin-top: 50px;
    height: 300px;
    min-width: 450px;
    margin: auto auto 30px 80px;
    justify-content: center;
}

#noticias {
    display: flex;
    max-width: 1000px;
    margin: 0px auto 0px auto;
}

#titulo_noticias {
    margin-bottom: 1px;
}
.noticia {
    padding: 2px;
    width: 50%;
}

.texto_noticia {
    display: flex;
    width: 70%;
    margin: 10px auto 10px auto;
    text-decoration: none;
}